sources:
  host_metrics:
    type: host_metrics
    filesystem:
      devices:
        excludes: ["binfmt_misc"]

sinks:
  console:
    inputs:
      - host_metrics
    target: stdout
    type: console
    encoding:
      codec: json
