name: "Vector"
description: "High-performance observability data pipeline"
version: "0.48.0"
slug: "vector"
init: false
arch:
  - aarch64
  - amd64
url: "https://github.com/conallob/hassio-addons/tree/master/vector"
panel_icon: "mdi:chart-timeline-variant"
startup: services
ports:
  8686/tcp: 8686
ports_description:
  8686/tcp: "Vector API"
map:
  - config:rw
  - share:rw
  - ssl:ro
options:
  log_level: "info"
  api_enabled: true
  vector_config: |
    sources:
      host_metrics:
        type: host_metrics
        filesystem:
          devices:
            excludes: ["binfmt_misc"]

    sinks:
      console:
        inputs:
          - host_metrics
        target: stdout
        type: console
        encoding:
          codec: json
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  api_enabled: bool
  vector_config: str
environment:
  LOG_FORMAT: "text"
